body {
    background:#6592CF;
    box-sizing:border-box;
    margin-left:auto;
    margin-right:auto;
  }
  div {
    width:140;
    height:100;
    background:#060F55;
    border-bottom-left-radius:90px;
    border-bottom-right-radius:90px;
    margin-left:auto;
    margin-right:auto;
    margin-top:150;
  }
  .dblue {
    background:#060F55;
    border-top-left-radius:100px;
    border-top-right-radius:100px;
    display:inline-flex;
    height:110;
    margin-top:-110;
    width:20;
  }
  .lblue {
    background:#6592CF;
    border-bottom-left-radius:100px;
    border-bottom-right-radius:100px;
    display:inline-flex;
    height:10;
    margin:0;
    width:20;
    z-index:1;
  }
  .handle {
    background:#060F55;
    height:60;
    margin:-1;
    margin-left:auto;
    margin-right:auto;
    width:20;
  }