body {
    background:#222730;
    box-sizing:content-box;
    display:flex;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
  }
  .rectangle {
    background: #4CAAB3;
    display:flex;
    height: 150;
    justify-content:center;
    margin:67 0;
    width: 100%;
  }
  .square {
    background:#222730;
    height:250;
    transform:rotate(45deg);
    margin:-50;
    position:absolute;
    width:250;
  }
  .inner-square {
    background:#4CAAB3;
    height:150;
    margin:50;
    position:absolute;
    width:150;
  }
  .circle {
    background:#393E46;
    border-radius:50px;
    height:50;
    margin:50 50;
    width:50;
  }