body{
    background:#09042A;
}
div::before {
    background:#7B3F61;
    border-radius:100%;
    box-shadow:100px 0 #e78481;
    content:'';
    height:150px;
    margin-left:67px;
    margin-top:67px;
    position:absolute;
    width:150px;
    z-index:1;
}
div::after {
    background:#E78481;
    border-radius:100%;
    content:'';
    height:150px;
    margin-left:167px;
    margin-top:67px;
    position:absolute;
    width:150px;
}
span {
    background:#09042A;
    border-top-left-radius:100%;
    border-bottom-right-radius:100%;
    height:75px;
    left:157px;
    position:absolute;
    top:112px;
    transform:rotate(-50deg);
    width:88px;
    z-index:1;
}