body {
    background:#F2F2B6;
    box-sizing:border-box;
    }
div::before {
    content:'';
    box-sizing:border-box;
    border-left:75px solid transparent;
    border-right:75px solid transparent;
    border-top:130px solid #FF6D00;
    height:0;
    position:absolute;
    margin:0;
    top:11.8%;
    left:33.8%;
    transform:translate(-50%, 50px);
    width:0;
    }
div::after {
    content:'';
    box-sizing:border-box;
    border-left:75px solid transparent;
    border-right:75px solid transparent;
    border-top:130px solid #FD4602;
    height:0;
    position:absolute;
    top:25%;
    left:23.8%;
    transform:translate(-10%, 10px);
    width:0;
    z-index:-1;
    }
.pointUp::before {
    content:'';
    box-sizing:border-box;
    border-right:75px solid transparent;
    border-left:75px solid transparent;
    border-top:130px solid #FD4602;
    height:0;
    position:absolute;
    margin:0;
    top:28.4%;
    left:42.4%;
    transform:rotate(180deg);
    width:0;
    }
.pointUp::after {
    content:'';
    box-sizing:border-box;
    border-left:75px solid transparent;
    border-right:75px solid transparent;
    border-top:130px solid #FF6D00;
    height:0;
    position:absolute;
    top:28.4%;
    left:47.4%;
    transform:rotate(180deg);
    width:0;
    z-index:-1;
    }