body {
    background:#0B2429;
    position:absolute;
  }
  div {
    width: 100;
    height: 100;
    position:relative;
  }
  .one {
    background:#F3AC3C;
    border-top-left-radius:60px;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    height:120;
    margin:142 72;
    width:120;
    z-index:1;
  }
  .two {
    background:#998235;
    border-top-left-radius:60px;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px;
    height:120;
    margin:-322 132;
    width:120;
    z-index:-1;
  }
  .three {
    background:#F3AC3C;
    position:relative;
	border-radius:60px;
    height:120;
    margin:142 192;
    width:120;
    z-index:-2;
  }